.header{
    padding-top: 20px;
    padding-bottom: 14px;
}

.header__logo{
    height: 169px;
}

.header__nav{
    display: none;
}

.header__icons{
    display: none;
}

.header__list{
    display: none;
}

@media screen and (min-width: 734px){
    .header{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 1166px){
    .header{
        padding-top: 30px;
        padding-bottom: 26px;
    }

    .header__nav{
        display: block;
    }

    .header__icons{
        display: block;
    }

    .header__list{
        display: flex;
        justify-content: center;
        gap: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        align-items: center;
    }
    .header__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-icon{
        width: 24px;
        height: 24px;
        fill: white;
        stroke-width: 2px;
        stroke: #111;
    }

    .header-icon:hover{
        stroke: orange;
    }
  }